{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src" // from now, we import files like this ex: <-- import App from '~/App' -->
                }
            }
        ]
    ]
}

